@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Sedan:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "AR One Sans", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1{
  font-family: "Sedan", serif;
}


#logo-image {
  width: 50px;
  margin-right: 10px;
}

.home-div{
  align-items: center;
  margin: 0px 50px;
}



/* Add your own custom styles here */