@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Sedan:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #272727;
}

h1{
  font-family: "Sedan", serif;
  font-size: 25px;
  font-weight:bolder;
  color: #272727;
  padding-bottom: 20px ;
}
/* NAVIGATION BAR STYLING */
.home-div{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px;
}

.inner-home-wrapper{
  overflow: none;
  }
  
  .inner-home-div{
    top: 152px;
    padding-top: 40px;
    position: relative;
    padding-bottom: 0px;
  }

.nav-wrapper {
  width: 100vw; 
  height: 160px;
  background-color: #272727;
  position: fixed;
  top: 0;
  z-index: 0; 
}

.nav-div {
  height: 130px;
  width: 98vw;
  border-bottom-right-radius: 5px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0%;
  padding-left: 20px;
  margin-top: 0%;
  position: relative; 
  background-color: #E2B170; 
  z-index: 1;
}
/* LOGO STYLING */
#logo-image {
  padding-top: 2px;
  width: 35px;
  margin-right: 10px;
}

.logo-span{
  color: #BF4E30;
  font-size: 15px;
}

.logo-span2{
  font-style: italic;
  font-size: 10px;
}

.nav-catchphrase{
  font-size: 19px;
  font-style: italic;
  font-weight: 450;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 20px;
}

.nav-link-text{
  padding-bottom: 20px;
  margin-right: 10px;
}

