.book-card {
    
    width: 268px;
    height: 378px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #272727;
}

.inside-card {
    margin: 20px 25px 0px 25px;
    width: 218px;
    height: 268px;
    align-items: center;
    background-size: cover;  
    background-position: center; 
    border-radius: 5px; 
}

.details-button {
      
       margin:  21px 76px 20px 76px;
        padding: 0px 29px;          
        font-size: 12px;     
        background-color: #E2B170; 
        color: rgb(0, 0, 0);       
        border: none;        
        border-radius: 30px; 
        cursor: pointer;     
        text-align: center; 
        line-height: 26px;   
        z-index: 0;
    }

 
    
    

